html,
body
{
    margin: 0;
    padding: 0;  
}
.slideshow {
    width: 100%; 
    min-height: 490px; 
    float: left;
    clear: both;
}
.slideshow--top
{
    top: 0;
    width: 100%; 
    margin: 0 auto;
    float: left;
    clear: both; 
    min-width: 100%;
    min-height: 100%;
    height: 0;
    padding-bottom: 25.5%;
} 
.slideshow--top img {
    max-width: 100%;
    max-height: 100%;
}
.slideshow__item a {
    display: block;
    width: 100%;
    height: 100%;
}
.slideshow__item a img {
    border: none;
    padding: 0;
    margin: 0;
    float: left;
}
img {
    border: none;
    padding: 0;
    margin: 0;
}
.clear {clear:both; overflow: hidden;}
.wrap {
    background-color: #f4f4f4; 
}
.contentsBox {
    height: 100%;
}
.content2 {
    background-color: #f4f4f4;
    width: 100%;
    position: relative;
    display: block;
    clear: both;
    /* top: 55px; */
    top: 0; 
    left: 0;
    bottom: 0;
    /* float: left; */
    height: 100%;
    max-width:1000px; 
    margin:0 auto;
    padding: 0 15px;
}
.content3 {
    height: 100%; 
}
.product {   
    text-align: center;
    padding: 60px 15px;
}
.product img {
    max-width: 450px;
    margin: 0 auto;
}
.sunrise-frame {
    max-width: 500px;
}
.sunrise-frame img {
    max-width: 100%;
    max-height: 100%;
}
.point {
    
}
.clearfix:before {
	content: "";
	display: block;
	clear: both;
	overflow: hidden;
}

footer { 
    background-color: #f4f4f4;
    width: 100%;
    margin: 0 auto;
    text-align: center;
} 
footer,
.footer,
.copy {
    clear: both;
    overflow: hidden
}
.footer {
    padding: 50px; 
}

.point ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
.point>ul>li {
    cursor:pointer; 
    margin-bottom: 40px;
    flex-basis: calc(33.3333% - 40px);
    text-align: center;
}
.point>ul>li:nth-of-type(3n){
    margin-right: 0;
}
.point>ul>li:nth-of-type(3n-2){
    margin-left: 0;
}
.popupclose {
    text-align: right;
    margin-bottom: 5px;
    background: url(../image/close_23x23_white.png) no-repeat center center;
    width: 23px;
    height: 23px;
    border: 0;
}
@media all and (max-width:900px){
    .point>ul>li {
        flex-basis: calc(50% - 10px);
    }
    .point>ul>li:nth-of-type(3n){
        margin-right: auto;
    }
    .point>ul>li:nth-of-type(3n-2){
        margin-left: auto;
    }
    .point>ul>li:nth-of-type(2n){
        margin-right: 0;
    }
    .point>ul>li:nth-of-type(2n-1){
        margin-left: 0;
    }
}
@media all and (max-width:640px){
    .point>ul>li:nth-of-type(2n){
        margin-right: auto;
    }
    .point>ul>li:nth-of-type(2n-1){
        margin-left: auto;
    }
    .point>ul>li {
        flex-basis: 100%;
        margin: 10px 0;
    }

    .product img {
        max-width: 100%;
    }
}
